@import "../../../index.css";

.all-badge-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .badge-container {
    position: relative;
    display: inline-block;
    
   
  }
  
  .badge {
    border-radius: 50%;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }
  
  .badge-item-larger {
    height: 2.2rem;
    width: 2.2rem;
    top: -0.5rem;
    right: -1rem;
    font-size: 1.3rem;
  }
  
  .badge-item-large {
    height: 2rem;
    width: 2rem;
    top: -0.5rem;
    right: -1rem;
    font-size: 1rem;
  }
  
  .badge-item-small {
    height: 1.2rem;
    width: 1.2rem;
    top: -0.2rem;
    right: -0.5rem;
    font-size: 0.8rem;
  }
  
  .badge-item {
    background-color: var(--white);
    color: var(--primary-text);
  }
  .badge-online {
    background-color: green;
    height: 1rem;
    width: 1rem;
    top: -0.1rem;
    right: -0.1rem;
  }
  
  .badge-offline {
    background-color: red;
    height: 1rem;
    width: 1rem;
    top: -0.1rem;
    right: -0.1rem;
  }
  
